<script type="text/template" id="js-create-question--mc-form">
<h4 class="t-modal__header js-form--mc-title-mapping"><%= title %></h4>
			<div class="t-modal__body">
					<label for="js-title">Введите вопрос:</label>
					<input class="input-text js-form--mc-input-title" type="text" id="js-title" name="js-title" value="<%= title %>" />
					
					<label for="js-answers">Варианты строк:</label>
					<textarea class="large" name="js-answers" id="js-answers" rows="4" placeholder="Введите каждый вариант в отдельной строке"></textarea>

					<label for="js-options--required"><input type="checkbox" id="js-options--required"/>  Ответ на вопрос обязателен?</label>
		</div>
		<div class="t-modal__footer">
			<hr />
			<div class="row">
				<div class="six columns"><a href="#" class="small nice radius button js-modal--apply">Применить</a></div>
				<div class="six columns" style="text-align: right;">
					<a href="#" class="small white radius button js-modal--close">Отменить изменения</a>
				</div>
			</div>
		</div>
</script>