<li>
	<fieldset>
		<h5>Вы довольны своей зарплатой? <small>(<a href="#">редактировать</a>)</small></h5>
	    <label for="radio1"><input type="radio" name="radio" id="radio1"> 
			Да, очень
		</label>
		<label for="radio2"><input type="radio" name="radio" id="radio2">
			Нет, я хочу много денег
		</label>
		<label for="radio3"><input type="radio" name="radio" id="radio3">
			Мне нравится моя зарплата, я езжу на бэнтли 
		</label>
		<label for="radio4">
			<input type="radio" name="radio" id="radio4"> 
				Мне даже покушать не на что. Суши есть приходится, или чем там бедные питаются.
		</label>
	</fieldset>
	<fieldset style="padding-bottom: 1em;">
		<h5>Edit: Вы довольны своей зарплатой?</h5>
		<label for="question1">Введите вопрос</label>
		<input type="text" class="input-text" name="" value="Вы довольны своей зарплатой?" id="question1" />
		<label for="abcd">Варианты строк: введите каждый вариант в отдельной строке</label>
		<textarea style="height: 8em;" id="abcd" class="large"></textarea>
		<div class="row">
			<div class="six columns"><a href="#" class="small nice radius button">Применить</a></div>
			<div class="six columns" style="text-align: right;">
				<a href="#" class="small white radius button">Отменить изменения</a> или <a href="#">удалить</a>
			</div>
		</div>
	</fieldset>
	</li>
									